<h2 class="text-2xl font-bold mb-4 text-gray-800">Danh sách truyện tranh</h2>

<div class="overflow-x-auto max-w-5xl mx-auto mt-8">

  @if (loading) {
  <p class="text-blue-500 text-center">Đang tải dữ liệu...</p>
  }

  @if (error) {
  <p class="text-red-500 text-center">{{ error }}</p>
  }

  @if (!loading && stories.length === 0) {
  <p class="text-gray-500 text-center">Không có truyện nào</p>
  }

  @if (stories.length > 0) {
  <table class="min-w-full bg-white shadow-lg rounded-xl overflow-hidden">


    <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
      <tr>
        <th class="py-3 px-4 text-left">ID</th>
        <th class="py-3 px-4 text-left">Tên truyện</th>
        <th class="py-3 px-4 text-left">Tác giả</th>
        <th class="py-3 px-4 text-left">Lượt xem</th>
        <th class="py-3 px-4 text-center">Hành động</th>
      </tr>
    </thead>

    <tbody>
      @for (story of stories; track story.id) {
      <tr class="border-b hover:bg-gray-50 transition">

        <td class="py-3 px-4">{{ story.id }}</td>

        <td class="py-3 px-4 font-medium text-gray-800">
          {{ story.title }}
        </td>

        <td class="py-3 px-4 text-gray-600">
          {{ story.author }}
        </td>

        <td class="py-3 px-4">
          <span class="bg-blue-100 text-blue-600 px-2 py-1 rounded text-sm">
            {{ story.views }}
          </span>
        </td>

        <td class="py-3 px-4 text-center">
          <button class="bg-red-500 text-white px-3 py-1 rounded-lg hover:bg-red-600 transition"
            (click)="deleteStory(story.id)">
            Xóa
          </button>
          <button class="bg-yellow-500 text-white px-3 py-1 rounded-lg hover:bg-yellow-600 transition"
            >
            <a [routerLink]="['/edit-story', story.id]">Sửa</a>
          </button>
        </td>

      </tr>
      }
    </tbody>

  </table>
  }
</div>
