.story-card {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  padding: 20px 0;
}

.story-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
